DATABASE_URL=postgres://tinycms:tinycms@localhost:5432/tinycms
PORT=3000
TINYCMS_CONFIG=./tinycms.config.ts

S3_BUCKET=my-shop-assets
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_ENDPOINT=http://localhost:9000
S3_ENDPOINT_URL=http://localhost:9000/my-shop-assets
